div.figure { display: inline-block }
div.figure p img { max-height: 300px; max-width: 100%; }/* 1200px; } */
div.figure p + p { text-align: center; font-weight: bold; }
div.ORG { font-size: 75%; }
div.ORG table tr td { padding-bottom: .1em; padding-top: .1em }

div > pre {
    overflow: auto;
    border: 1px solid black;
    padding: 4px;
    margin-bottom: 0
}
div.ceexpand	{
	text-align: center; 
	border: 1px solid #666; 
	border-top: 0;
	background: #efefef url(http://be.twixt.us/jquery/img/arrow_down.png) top right no-repeat; 
	line-height: 16px;
	width: 200px;
	margin: 0 0 0 auto;
}
div.cecollapse {
	background: #efefef url(http://be.twixt.us/jquery/img/arrow_up.png) top right no-repeat; 
}
div.cehover {
	background-color: #ccc;
	cursor: pointer;
}
